@import "tailwindcss";

@theme {
  --color-dark-bg: #0a2647;
  --color-dark-surface: #144272;
  --color-dark-elevated: #205295;
  --color-dark-border: #3a3a3a;
  --color-dark-text-primary: #2c74b3;
  --color-dark-text-secondary: #a0a0a0;
  --color-dark-text-tertiary: #707070;
  --color-dark-CTA-bg: #1e40af;
  --color-dark-CTA-text: #1e40af;

  --color-light-bg: #ffffff;
  --color-light-surface: #f8f9fa;
  --color-light-elevated: #ffffff;
  --color-light-border: #e5e7eb;
  --color-light-text-primary: #1a1a1a;
  --color-light-text-secondary: #6b7280;
  --color-light-text-tertiary: #9ca3af;
  --color-light-CTA-bg: #3b82f6;
  --color-light-CTA-text: #ffffff;
}

@layer base {
  body {
    @apply bg-light-bg dark:bg-dark-bg text-light-text-primary dark:text-dark-text-primary;
  }
}

@layer components {
  .text-body {
    @apply text-light-text-secondary dark:text-dark-text-secondary;
  }

  .text-primary {
    @apply text-light-text-primary dark:text-dark-text-primary;
  }

  .button-primary {
    @apply bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700;
  }

  .button-secondary {
    @apply bg-gray-300 text-gray-800 py-2 px-4 rounded hover:bg-gray-400;
  }

  .surface {
    @apply bg-light-surface dark:bg-dark-surface;
  }

  .surface-light {
    @apply bg-light-surface/20 dark:bg-dark-surface/20 border border-light-border dark:border-dark-border/20;
  }

  .elevated {
    @apply bg-light-elevated dark:bg-dark-elevated shadow-md;
  }

  .background {
    @apply bg-light-bg dark:bg-dark-bg;
  }

  .background-light {
    @apply bg-light-bg/40 dark:bg-dark-bg/40;
  }

  .background-primary {
    @apply bg-light-CTA-bg dark:bg-dark-CTA-bg;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #1e40af #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
